body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

.message, .success, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  border-color: green;
}

.success {
  border-color: red;
}

.warning {
  border-color: yellow;
}

.container {
  width: 100%;
}

article[role="main"] {
  float: left;
  width: 62.5%;
}

article[role="complementary"] {
  float: right;
  width: 31.25%;
}

/*# sourceMappingURL=main.css.map */