$font-stack: Helvetica,sans-serif;
$primary-color: #333;
$default-width: 100%;

body {
    font: 100% $font-stack;
    color: $primary-color;
}

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }
}

@import 'reset';

.message {
    border: 1px solid #ccc;
    padding: 10px;
    color: #333;
}

.success {
    @extend .message;
    border-color: green;
}

.success {
    @extend .message;
    border-color: red;
}

.warning{
    @extend .message;
    border-color: yellow;
}

.container {
    width: $default-width;
}

article[role="main"] {
    float: left;
    width: 600px / 960px * $default-width;
}

article[role="complementary"] {
    float: right;
    width: 300px / 960px * $default-width; 
}